
html, body, div, span, applet, object, iframe,
    h1, h2, h3, p, blockquote pre,
    a, code, em, font, img,
    small, strike, strong,
    b, u, i, center,
    dl, dt, dd, ol, ul, li, form, label,
    table, tr, th, td {
margin:0;
padding:0;
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
}

b {
font-weight:normal;
}

body {
background:url('images/background.png') repeat-x;
}

#container {
background-color:#fff;
position:absolute;
width:100%;
min-width:960px;
min-height:100%;
}

#main-container {
position:relative;
width:960px;
margin-top:55px;
padding:0 0 220px 0;
}

.cnt-holder {
width:960px;
position:relative;
}

.main-holder {
width:960px;
position:relative;
left:0px !important;
}

.page-header {
background:url('images/ns_console_headerbg.png') repeat-x;
height:100px;
}

.page-header span {
position:absolute;
background:url('images/ns_console_logov2.png') no-repeat;
width:361px;
height:49px;
top:35px;
left:0;
}

.topper-nav {
float:right;
font-size:11px;
padding:15px 0 0 0;
}

.topper-nav a {
color:#e3e8ea !important;
text-decoration:none;
}

.topper-nav b {
margin:0 2px;
color:#848f96;
font-weight:bolder;
}

.page-footer {
position:absolute;
background:url('images/ns_console_footer.png') repeat-x;
width:100%;
height:208px;
bottom:0;
}

.page-footer h1 {
text-transform:none;
padding-top:32px;
font-family:Verdana;
font-weight:normal;
font-size:11pt;
color:#97979A;
}

.page-footer a {
color:#00A6DE;
text-decoration:none;
}
